*{
  margin: 0;
  padding: 0;
}

.card {
  box-shadow: 5px 10px 18px #888888;
  transition: 0.3s;
    width: 80%;
    height: 83%;
    background: rgb(59,118,158);
    background: linear-gradient(229deg, rgba(59,118,158,1) 25%, rgba(18,222,230,1) 87%);  
    border-radius: 12px; 

  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  img{
    height: 8rem;
  }
  .body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  .card1{
    height: 30rem;
    width: 30rem;
    margin-top: 5rem;
    
  }
  .card2{
    height: 30rem;
    width: 30rem;
    margin-top: 5rem;
   }
  
  h2{
    text-align: justify;
    margin-left: 6rem;
    font-size: 3rem;
  }
  a{
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  span {
    margin-top: 12px;
  }
  h4{
    font-size: 23px;
    margin-top: 30px;
  }
  a:hover {
    color: yellow;
    font-size: 30px;
  }