*{
    margin: 0;
    padding: 0;
}

.first-view{
 height: 70vh;
 width: 100%;
    background-image: linear-gradient(200deg, #000000 0%, #04619f 74%);
}
.sec-view{
    height: 200px;
}
.l-side{
    
    background-color: antiquewhite;
    height: 18.7rem;
    width: 50%;
    float: left;
}
.r-side{
    background-color: beige;
    height: 18.7rem;
    width: 50%;
    float: right;
    position: relative;
}
footer{
    background-image: linear-gradient(200deg, #000000 0%, #04619f 74%);
    width: 100%;
    padding-top: 1rem;
    text-align: center;
    font-size: 12px;
}
.f-body{
    margin-left: 10rem;
    margin-right: 10rem;
}
.m-box{
    color: white;

}
.box1{
    float: left;
    height: 200px;
    width: 200px;

}
.box2{
    margin: 0 auto;
    position: relative;
}
.box3{
    margin: 0 auto;
    position: relative;

}
.box4{
    float: right;
    margin: 0 auto;

}
ul{
    list-style: none;
    padding: 0;
    margin: 10px 0 20px
}
}
