*{
    margin: 0;
    padding: 0;
}

.first-view{
 height: 70vh;
 width: 100%;
    background-image: linear-gradient(200deg, #000000 0%, #04619f 74%);
}
.sec-view{
    height: 200px;
}
.l-side{
    
    background-color: antiquewhite;
    height: 18.7rem;
    width: 50%;
    float: left;
}
.r-side{
    background-color: beige;
    height: 18.7rem;
    width: 50%;
    float: right;
    position: relative;
}